*.so
*.o
.DS_Store
build/
dist/
*.egg-info/

# Ignore all files in exports/ except .gitkeep
exports/*
!exports/.gitkeep

*.png
*.mp4
*.svg
*.gif

__pycache__/

# Ignore all markdown files except README.md
*.md
!README.md

# Generated C files
src/bloch_simulator/bloch_wrapper.c