include src/blochsimulator/bloch_core_modified.c
include src/blochsimulator/bloch_core.h
include src/blochsimulator/bloch_wrapper.pyx
include src/blochsimulator/dynamic_metal_probe_wrapper.pyx
include src/blochsimulator/metal/dynamic_metal_probe.h
include src/blochsimulator/metal/dynamic_metal_probe.mm
include src/blochsimulator/metal/dynamic_bloch_precision.metal
include requirements.txt
include README.md
include LICENSE
include examples/spin_echo_reproduction.ipynb
include examples/spin_echo_analysis.ipynb
include examples/spin_echo_analysis_data.h5
recursive-include rfpulses *
