<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bloch Simulator</title>
    <script src="https://cdn.jsdelivr.net/pyodide/v0.25.0/full/pyodide.js"></script>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>

    <nav>
        <h1>Bloch Simulator</h1>
        <div class="nav-links">
            <button onclick="router('home')">Home</button>
            <button onclick="window.open('https://github.com/lucanagel/bloch_simulator', '_blank')">GitHub</button>
        </div>
    </nav>

    <div class="container">
